<div class="form-container">
    <div class="text-center">
      <img [src]="image" width="200" alt="Form FB Logo">
    </div>

    <a routerLink="/signup" id="goback">Sign In</a>

    <h2>{{ title }}</h2>

    <!--span class="alert-danger" *ngIf="error" [@fallIn]='state'>{{ error }}</span-->

    <div class="card-panel red darken-1" *ngIf="error" [@fallIn]='state'>
      <div class="row">
        <div class="white-text">
          <h6>{{ error }}</h6>
        </div>
      </div>
    </div>

    <div class="card-panel green darken-1" *ngIf="success" [@fallIn]='state'>
      <div class="row">
        <div class="white-text">
          <h6>{{ success }}</h6>
        </div>
      </div>
    </div>

    <form materialize class="col s12" #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="example-container">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <label for="email">Email</label>
          <input type="email" class="validate" [(ngModel)]="email" name="email" id="email" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">enhanced_encryption</i>
          <label for="password">Password</label>
          <input type="password" class="validate" [(ngModel)]="password" name="password" id="password" required>
        </div>
      </div>
      <div class="row text-center">
        <div class="input-field col s12">
          <button type="submit" [disabled]="!formData.valid" class="waves-effect waves-light btn">Create my account</button>
        </div>
      </div>
    </form>
  </div>